/**
* @project: Employees Contracts - https://employees-contracts-manager.onrender.com/
* @fileoverview: The main stylesheet of application.
* @author: Obrymec - obrymecsprinces@gmail.com
* @created: 2022-02-03
* @updated: 2023-11-19
* @supported: DESKTOP
* @file: generic.css
* @version: 0.0.3
*/

/* Colors theme */
:root {
	--light-silver: rgb(150, 150, 150);
	--light-white: rgb(235, 235, 235);
	--primary-color: #FA8072;
	--black-500: #343434;
	--silver-500: #ccc;
	--silver: silver;
	--white: #FFF;
}

/* Active option */
div.active {
	background-color: var(--primary-color) !important;
}

/* Button hover and table header */
thead.table-header, button:hover {
	background-color: var(--primary-color);
}

/* Table body light silver */
tbody.light-silver {
  background-color: var(--light-white);
}

/* Inputs focus */
input:focus, select:focus {
	border-color: var(--primary-color);
}

/* Table body silver */
tbody.silver {
  background-color: var(--silver);
}

/* Header label color */
div.header-title > span {
	color: var(--white) !important;
}

/* Active option label */
div.active > span {
  color: var(--white) !important;
}

/* Menu options container */
div.menu-options {
  padding-bottom: 15px;
}

/* Table columns labels */
thead.table-header th > span {
	color: var(--white);
}

/* UI controls */
div.ui-controls {
  padding: 20px;
}

/* Empty section */
div.empty-section {
	background-color: var(--silver-500);
	height: 100%;
}

/* Inputs placeholder */
textarea::placeholder,
input::placeholder {
	color: var(--light-silver);
	font-style: italic;
}

/* Table columns and rows */
thead.table-header th,
tbody.table-body td {
	padding-bottom: 10px;
	padding-top: 10px;
}

/* Options */
div.option {
	padding: 15px 0 15px 25px;
	cursor: pointer;
}

/* Option label hover */
div.option:hover > span {
	color: var(--white);
	cursor: pointer;
}

/* Options hover */
div.option:hover {
	background-color: var(--primary-color);
	border-bottom: 1px solid var(--white);
	border-top: 1px solid var(--white);
}

/* Page data */
div.page-data {
	background-color: var(--white);
	border-top-right-radius: 5px;
	width: 100%;
}

/* Dropdowns */
select {
	background-color: var(--white);
	padding-left: 5px;
	height: 35px;
}

/* Textarea */
textarea {
	padding-top: 10px;
	height: 96px;
	resize: none;
}

/* Body */
body {
	background-color: var(--silver-500);
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Table data */
table.table-data {
	border: 1px solid var(--white);
	margin-left: -2.5px;
	text-align: center;
	width: 100.5%;
}

/* Text design */
textarea::placeholder,
span, button, select,
input::placeholder {
	font-family: sans-serif;
	color: var(--black-500);
	letter-spacing: 1.5px;
	user-select: none;
	font-size: 16px;
}

/* Header title */
div.header-title {
	background-color: var(--primary-color);
	border-top-right-radius: 5px;
	padding-bottom: 10px;
	text-align: center;
	padding-top: 10px;
	font-size: 18px;
}

/* Slider menu */
div.menu-bar {
	background-color: var(--white);
	border-top-left-radius: 5px;
	flex-direction: column;
	padding-top: 15px;
	display: flex;
	height: auto;
	width: 23.5%;
}

/* Big container */
div.big-container {
	display: inline-flex;
	position: fixed;
	bottom: 10px;
	right: 10px;
	left: 10px;
	gap: 10px;
	top: 10px;
}

/* Inputs */
input, select, textarea {
	border: 1px solid var(--silver);
	padding-right: 15px;
	border-radius: 3px;
	padding-left: 15px;
	margin-top: 10px;
	outline: none;
	height: 40px;
	width: 100%;
}

/* Button design */
button {
	background-color: var(--primary-color);
	padding-bottom: 8px;
	color: var(--white);
	border-radius: 3px;
	padding-top: 8px;
	margin-top: 16px;
	cursor: pointer;
	outline: none;
	border: none;
	width: 100%;
}
