/**
* @project: Employees Contracts - https://employees-contracts-manager.onrender.com/
* @fileoverview: The message box theme stylesheet.
* @author: Obrymec - obrymecsprinces@gmail.com
* @created: 2022-12-15
* @updated: 2023-12-17
* @supported: DESKTOP
* @file: msgbox.css
* @version: 0.0.1
*/

/* Confirm button hover */
button.swal2-confirm:hover {
  background-color: var(--primary-color-300) !important;
}

/* Left and right cross */
span.swal2-x-mark-line-right,
span.swal2-x-mark-line-left {
  background-color: var(--primary-color-300) !important;
}

/* Icon */
div.swal2-icon {
  border-color: var(--primary-color-300) !important;
}

/* Icon content */
div.swal2-icon-content {
  color: var(--primary-color-300);
}

/* Cancel button */
button.swal2-cancel {
  box-shadow: 0 0 4px var(--primary-color-300) !important;
  font-family: sans-serif;
  user-select: none;
}

/* Title */
h2.swal2-title {
  color: var(--primary-color-100);
  font-family: sans-serif;
  user-select: none;
}

/* Confirm button */
button.swal2-confirm {
  box-shadow: 0 0 4px var(--primary-color-300) !important;
  background-color: var(--primary-color) !important;
  font-family: sans-serif;
  user-select: none;
}

/* Message box html content */
div.swal2-html-container {
  color: var(--primary-color-300) !important;
  line-height: 26px !important;
  font-family: sans-serif;
  user-select: none;
}
